<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mission | {% block title %}{% endblock %}</title>
    <!-- html5 para ie menor a 9 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block css %}{% endblock css %}
    <script type="text/javascript" src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/convocatoria.js'%}"></script>
    {% block js %}{% endblock js %}
</head>
<body>
<header class="container">
    <!-- en zen coding  o emmet
    div.row>div.span12.navbar>nav.navbar-inner>a.brand+ul.nav.pull-right>li*5>a
    -->
    <div class="row">
        <div class="span12 navbar" id="menu">
            <nav class="navbar-inner">
                <a href="" class="brand">
                   <b> Mission</b><br>
                    The meritocracy game
                </a>
                <ul class="nav pull-right">
                    <li >
                        <a href="/">
                            <i id='menu-inicio' class="icon-home"></i>
                                 Inicio
                        </a>
                    </li>
                    <li >
                        <a href="/misiones">
                            <i id='menu-misiones' class="icon-check"></i>
                                Misiones
                        </a>
                    </li>
                    <li>
                        <a href="/ranking">
                             <i id='menu-ranking' class="icon-list"></i>
                                Ranking
                        </a>
                    </li>
                    <li class= "dropdown">
                        {% if user.is_active %}
                            <a class="dropdown-toggle" id="user"  data-toggle="dropdown" href="#">
                                {{ user.username }}
                                <b class="caret">
                                </b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="user">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/perfil">
                                        Mi Perfil
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/perfil">
                                        Mis Misiones
                                    </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/logout">
                                       Logout
                                    </a>
                                </li>
                            </ul>
                        {%else%}
                            <a data-target="#loginModal" href="" data-toggle="modal" >
                                <i id='menu-login' class="icon-user" ></i>
                                Login
                            </a>
                        {%endif%}
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</header>

<div  id="loginModal" class="modal hide fade" tabindex="-1" data-remote="/login?mini=true" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Into a Mission</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        Eres nuevo?
        <a href="/login">
            Registrate
        </a>
    </div>
</div>
<div class="container">
    {% block canvas %}{% endblock canvas %}
</div>
<footer>
    <div  id="footer" class="modal-footer">
    Powered by UCSSINUX
    </div>
</footer>
</body>
</html>