<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h2>Retro-alimentación:</h2>
{% for comment in comments %}
    <a href="/usuario/{{ comment.user }}">{{ comment.user }}</a> dice: </br>
    {{ comment.comments }} </br>
    puntaje: {{ comment.score }} </br>
{% endfor %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form>
</body>
</html>