<!DOCTYPE html>
<html>
<form method="post" action="/login/" class="form-horizontal">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for = "id_username">Usuario:</label>
        <div class="controls">
            <input id="id_username" type="text" name="username" maxlength="30" placeholder="Usuario"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for = "id_password">Password:</label>
        <div class="controls">
            <input id="id_username" type="password" name="password" id="id_password" placeholder="Password"/>
        </div>
    </div>
    <input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-block"/>
</form>
</html>
