{% extends 'base.html' %}
{% block title %}Misiones{% endblock %}
{% block canvas %}
    <h1>Misiones:</h1>
    {% for mission in missions %}
        <a href="#{{ mission.id }}" role="button" class="btn" data-toggle="modal">{{ mission.name }}</a>
        <div  id="{{ mission.id }}" class="modal hide fade" tabindex="-1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{ mission.name }}</h3>
            </div>
            <div class="modal-body">
                Puntaje base: {{ mission.base_score }} </br>
                Fecha limite: {{ mission.deadline }} </br>
                Descripcion: {{ mission.description }} </br>
                Asignado a: {{ mission.user }} </br>
            </div>
            <div class="modal-footer">
                <a  href="{{ mission.id }}" role="button" class="btn">Ver comentarios</a>
            </div>
         </div>
    {% endfor %}
    <div id="pager" class="pagination pagination-centered">
        <ul>
            <li class="disabled">
                <a href="#">←</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">→</a></li>
        </ul>
    </div>
{% endblock canvas %}
