{% extends 'base.html' %}
{% block title %}Mision{% endblock %}
{% block canvas %}
    <h4>Nombre: {{ missions.name }} </h4>
    Puntaje base: {{ missions.base_score }} </br>
    Fecha limite: {{ missions.deadline }} </br>
    Descripcion: {{ missions.description }} </br>
    Asignado a: {{ missions.user }} </br>

    </br></br>
{% endblock canvas %}
