{% extends 'base.html' %}
{% block title %}Ranking{% endblock %}
{% block canvas %}
    <h1>Perfil:</h1>
    Bienvenido {{ user.username }}
    <a data-target="#editProfile" href="" data-toggle="modal" >
        <i id='menu-login' class="icon-edit" ></i>
        Editar
    </a>
    <div  id="editProfile" class="modal hide fade" tabindex="-1" data-remote="" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Editar Perfil</h3>
        </div>
        <div class="modal-body">
            {{ form_edit_profile.as_p}}
        </div>
        <div class="modal-footer">
            <a href="/perfil" class="btn">Cancelar</a>
            <a href="" class="btn btn-primary">Guardar</a>
        </div>
    </div>

    <h2>Tus misiones asignadas son:</h2>
    {% for mission in missions %}
        <a href="misiones/{{ mission.id }}">{{ mission.name }}</a>
    {% endfor %}
{% endblock canvas %}

