<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <img src="{{ MEDIA_URL }}{{ user.pic }}" >
    {{ user.user.username }}
    {{ user.user.first_name }}
    {{ user.user.last_name}}

</body>
</html>